{   "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"type\":\"object\",\"properties\":{\"childSupportAmount\":{\"type\":\"number\",\"output\":true},\"kFactor\":{\"type\":\"number\",\"output\":true},\"netDisposableIncomeHigh\":{\"type\":\"number\",\"output\":true},\"netDisposableIncomeTotal\":{\"type\":\"number\",\"output\":true},\"Interface\":{\"type\":\"string\",\"input\":true},\"Operation\":{\"type\":\"string\",\"input\":true},\"childrenCount\":{\"type\":\"integer\",\"input\":true},\"custodyPercentageHigh\":{\"type\":\"number\",\"input\":true},\"implementation\":{\"type\":\"string\",\"input\":true},\"interfaceImplementationRef\":{\"type\":\"string\",\"input\":true},\"operationImplementationRef\":{\"type\":\"string\",\"input\":true},\"parentA_GrossIncome\":{\"type\":\"number\",\"input\":true},\"parentB_GrossIncome\":{\"type\":\"number\",\"input\":true}}}",   "resources": {     "styles": {},     "scripts": {}   } }
